@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CK_CSharp.Models.Department

@{
    ViewData["Title"] = "Add Department";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Add.css" />
}

<h1 class="Add_title">ADD DEPARTMENT</h1>

<!-- Thêm form để nhập thông tin phòng ban -->
<form asp-action="Add" method="post">
    <div class="form-group">
        <p asp-for="Name" class="Add_lable">Tên Phòng Ban</p>
        <input asp-for="Name" class="form-control" required title="Vui lòng nhập tên phòng ban" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <p asp-for="Description" class="Add_lable">Mô Tả</p>
        <input asp-for="Description" class="form-control" required title="Vui lòng nhập mô tả phòng ban" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <p asp-for="CompanyId" class="Add_lable">ID Công Ty</p>
        <input asp-for="CompanyId" class="form-control" required title="Vui lòng chọn công ty" />
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <a class="btn btn-danger" asp-action="List" asp-controller="Department">Huỷ</a>
</form>

<!-- Hiển thị thông báo lỗi tổng quát -->
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
