<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CK_CSharp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/CK_CSharp.styles.css" asp-append-version="true" /> -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="nav">
            <div class="Logo">
                <img src="~/image/Logo2.png" alt="logo" />
                <a asp-controller="Home" asp-action="Index">Azura</a>
            </div>
            <div class="menu">
               <a asp-controller="Announcement" asp-action="List" class="NavItem">Announcement</a>
               <a asp-controller="Schedule" asp-action="List" class="NavItem">Schedule</a>
               <a asp-controller="Category" asp-action="List" class="NavItem">Category</a>
               <a asp-controller="Employee" asp-action="List" class="NavItem">Employee</a>
               <a asp-controller="Department" asp-action="List"  class="NavItem">Department</a>
               <a asp-controller="Company" asp-action="List" class="NavItem">Company</a>
            </div>
            <div class="profile">
                <a href="#">Profile</a>
                <img src="~/image/animepic2.jpg" alt="profile" />
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer">
            &copy; 2024 - Made by <a asp-controller="Home" asp-action="About" class="NavItem">Mai Hong Quang</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
