h1.Schedule_list_title {
    margin-top: 20px;
    color: white;
    text-shadow: #ffffff 1px 0 4px;
}

div.Schedule_list_feature {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Schedule_list_searchfilter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form.Schedule_list_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

input.Schedule_list_searchbar {
    width: 60%;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

input.Schedule_list_searchbar:hover {
    transform: scale(1.05);
    box-shadow: -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

input.Schedule_list_searchbar:focus {
    border: 1px solid #1e252e;
    box-shadow: -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

button.Schedule_list_searchbarBtn {
    background-color: #1F2739;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

button.Schedule_list_searchbarBtn:hover {
    transform: scale(1.05);
    box-shadow:
    -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

form.Schedule_list_filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

p.Schedule_list_filterLaber {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

input.Schedule_list_filterInput {
    width: 16%;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

input.Schedule_list_filterInput:hover {
    transform: scale(1.05);
    box-shadow: -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

input.Schedule_list_filterInput:focus {
    border: 1px solid #1e252e;
    box-shadow: -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

a.Schedule_list_btnCreate {
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

a.Schedule_list_btnCreate:hover {
    transform: scale(1.05);
    border: 1px solid white;
    box-shadow:
    -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

div.Schedule_list_feature_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

div.Schedule_list_sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

div.Schedule_list_sort a {
    background-color: #1F2739;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

div.Schedule_list_sort a:hover {
    transform: scale(1.1);
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    box-shadow:
    -webkit-box-shadow:0px 0px 10px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.41);
}

.Schedule_list_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px auto;
}

.Schedule_list_item {
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    padding: 15px;
    margin: 10px;
    width: 90%;
    height: 260px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: row;
}

.Schedule_list_item:hover {
    transform: scale(1.05);
    border: 1px solid white;
    box-shadow:
    -webkit-box-shadow:0px 0px 25px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.41);
}

.Schedule_list_item:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

img.Schedule_list_img {
    border-radius: 5px;
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: 12px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Schedule_list_itemDetail {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: flex-start;
    align-items: start;
}

.Schedule_list_itemDetail h3 {
     font-size: 1.5rem;
     font-weight: 700;
     margin-bottom: 10px;
     margin-top: 12px;
     color: white;
}

.Schedule_list_itemDetail p {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 6px;
}

.Schedule_list_groupBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    gap: 24px;
}

a.Schedule_list_btnDetail {
    background-color: rgb(33 150 243);
    border-radius: 5px;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

a.Schedule_list_btnDetail:hover {
    transform: scale(1.05);
    box-shadow:
    -webkit-box-shadow:0px 0px 20px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.41);
}

button.Schedule_list_btnDelete {
    background-color: #EF665B;
    border-radius: 5px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s ease-in-out;
    align-items: center;
    border: none;
}

button.Schedule_list_btnDelete:hover {
    transform: scale(1.05);
    box-shadow:
    -webkit-box-shadow:0px 0px 20px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.41);
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.41);
}